__pycache__/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints/
.venv/
.git/
.dvc/cache/
node_modules/
*.log
/tmp/
model_training_tp02.ipynb
model_training.ipynb
tests.ipynb
data/raw/
data/notebooks/
data/modelling/
shared/dataset/
dataset/
dataset_split/__pycache__/
model_serving/__pycache__/
model_training/__pycache__/
